@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-connect-wallet {
  padding: 6px 12px;
  background-color: #FEFF05; /* Cyberpunk Yellow */
  color: #000000; /* Cyberpunk Black */
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  /* Removed position: absolute; */
}

.button-connect-wallet:hover {
  color: #FEFF05; /* Cyberpunk Yellow */
  background-color: transparent;
  border-color: #FEFF05; /* Cyberpunk Yellow */
  opacity: 0.95;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000; /* Cyberpunk Black */
  color: #FEFF05; /* Cyberpunk Yellow */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ufo {
  position: absolute;
  /* Adjust size as needed */
}

.ufo1 {
  animation: ufo1Animation 5s linear infinite;
  width: 100px; /* Adjust size as needed */
}

@keyframes ufo1Animation {
  0% { right: -100%; }
  100% { right: 100%; }
}

.ufo2 {
  position: absolute;
  width: 80px; /* Adjust size as needed */
  top: 10px; /* Start just off the top of the screen */
  left: -100px; /* Start off-screen to the left */
  opacity: 0; /* Initially hidden */
  animation: none; /* No animation initially */
}

@keyframes ufo2Animation {
  0%, 100% { left: -100px; opacity: 0; }
  25%, 75% { left: 120px; opacity: 1; } /* Adjust as needed */
}

@keyframes bombAnimation {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.bomb {
  position: absolute;
  animation: bombAnimation 1.7s linear;
  width: 28px; /* Adjust size as needed */
  opacity: 0.8;
}

/* Neon glow effect for the title */
.neon-title {
  text-shadow:
    0 0 1px rgba(254, 255, 5, 0.8), /* Slightly transparent */
    0 0 2px rgba(254, 255, 5, 0.7),
    0 0 4px rgba(254, 255, 5, 0.6);
}

/* Neon glow effect for the button */
.neon-button {
  box-shadow:
    0 0 1px rgba(254, 255, 5, 0.8),
    0 0 2px rgba(254, 255, 5, 0.7),
    0 0 4px rgba(254, 255, 5, 0.6);
}

.neon-button:hover {
  color: #FEFF05; /* Cyberpunk Yellow */
  background-color: transparent;
  border-color: #FEFF05; /* Cyberpunk Yellow */
}

.title-button-container {
  display: flex;
  justify-content: space-between; /* Space out the children */
  align-items: center;
  margin-bottom: 50px;
  width: 100%; /* Ensure the container takes full width */
}
.invisible-spacer {
  visibility: hidden;
}

.invisible-button-spacer {
  width: same-as-button; /* Replace with the width of your button */
  height: same-as-button; /* Replace with the height of your button */
  visibility: hidden; /* Make the spacer invisible */
}

@keyframes flickerAnimation {
  0%, 100% { filter: brightness(97%) contrast(103%); }
  20% { filter: brightness(99%) contrast(98%); }
  40% { filter: brightness(95%) contrast(105%); }
  60% { filter: brightness(99%) contrast(98%); }
  80% { filter: brightness(95%) contrast(105%); }
}

.main-background {
  animation: flickerAnimation 8s infinite;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
}

.notification-text {
  display: inline; /* Ensure inline display */
  white-space: nowrap; /* Prevent line breaks within the text */
}

.wallet-address {
  /* Add styles similar to your other text elements */
  font-size: 0.77em; /* Adjust as needed */
  color: #FEFF05; /* Cyberpunk Yellow */
  /* Add any other styles to match the page's theme */
}

.coins-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%; /* Limit the width and adjust as needed */
  margin: 0 auto;
  margin-top: 50px;
  /* Add more styling as needed */
}
.coin-image-container {
  width: 100px; /* Diameter of the circle */
  height: 100px; /* Diameter of the circle */
  border-radius: 50%; /* Makes it a circle */
  overflow: hidden; /* Hides the overflow to maintain the circle shape */
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-image {
  width: 100%; /* Fill the container */
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  image-rendering: pixelated; /* Creates a pixelated effect */
  filter: brightness(99%) contrast(130%);
}


.coin {
  margin: 10px;
  text-align: center;
}

.coin-image:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.75);
}

.coin-name {
  width: 100px; /* Match the width of the image */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.9;
}
