@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-connect-wallet, .vertical-button {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow text */
  border: 2px solid #FEFF05; /* Cyberpunk Yellow border */
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s, opacity 0.3s;
}

.button-connect-wallet:hover, .vertical-button:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background */
  color: #000000; /* Make text color match the background color for 'transparent' effect */
  border-color: transparent; /* Optional: make border transparent on hover */
  opacity: 0.95;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000; /* Cyberpunk Black */
  color: #FEFF05; /* Cyberpunk Yellow */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ufo {
  position: absolute;
  /* Adjust size as needed */
}

.ufo1 {
  animation: ufo1Animation 5s linear infinite;
  width: 100px; /* Adjust size as needed */
}

@keyframes ufo1Animation {
  0% { right: -100%; }
  100% { right: 100%; }
}

.ufo2 {
  position: absolute;
  width: 80px; /* Adjust size as needed */
  top: 10px; /* Start just off the top of the screen */
  left: -100px; /* Start off-screen to the left */
  opacity: 0; /* Initially hidden */
  animation: none; /* No animation initially */
}

@keyframes ufo2Animation {
  0%, 100% { left: -100px; opacity: 0; }
  25%, 75% { left: 120px; opacity: 1; } /* Adjust as needed */
}

@keyframes bombAnimation {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.bomb {
  position: absolute;
  animation: bombAnimation 1.7s linear;
  width: 28px; /* Adjust size as needed */
  opacity: 0.8;
}

.neon-title-main {
  font-size: 2.5rem; /* Adjust the size as needed */
  text-align: center; /* Center align the title */
  margin: 0 auto; /* Center the title block if needed */
  display: block;
  opacity: 0.92;
}
.neon-title-main:hover {
  font-size: 2.5rem; /* Adjust the size as needed */
  text-align: center; /* Center align the title */
  margin: 0 auto; /* Center the title block if needed */
  display: block;
  opacity: 0.95;
  filter: brightness(110%) contrast(120%);
}

/* Neon glow effect for the title */
.neon-title {
  text-shadow:
    0 0 1px rgba(254, 255, 5, 0.7), /* Slightly transparent */
    0 0 2px rgba(254, 255, 5, 0.5),
    0 0 4px rgba(254, 255, 5, 0.4);
}

.neon-value {
  color: #e9f1ff;
  opacity: 0.9;
  text-shadow:
    0 0 1px rgba(233,241,255, 0.7), /* Slightly transparent */
    0 0 2px rgba(233,241,255, 0.5),
    0 0 4px rgba(233,241,255, 0.4);
}


/* Neon glow effect for the button */
.neon-button, .vertical-button {
  box-shadow:
    0 0 1px rgba(254, 255, 5, 0.7),
    0 0 2px rgba(254, 255, 5, 0.5),
    0 0 4px rgba(254, 255, 5, 0.4);
}

.neon-button:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background */
  color: #000000; /* Make text color match the background color for 'transparent' effect */
  border-color: transparent; /* Optional: make border transparent on hover */
  opacity: 0.95;
}

.title-button-container {
  position: fixed; /* Fixed position at the top */
  top: 0; /* Align to the top of the screen */
  left: 0; /* Align to the left of the screen */
  width: 100%; /* Stretch across the full width */

  z-index: 1000; /* Ensure it's above other elements */
  display: flex;
  justify-content: space-between; /* Keep existing alignment */
  align-items: center;
  padding: 10px; /* Add some padding */
}

.invisible-spacer {
  visibility: hidden;
}

.invisible-button-spacer {
  width: same-as-button; /* Replace with the width of your button */
  height: same-as-button; /* Replace with the height of your button */
  visibility: hidden; /* Make the spacer invisible */
}

@keyframes flickerAnimation {
  0%, 100% { filter: brightness(97%) contrast(103%); }
  20% { filter: brightness(99%) contrast(98%); }
  40% { filter: brightness(95%) contrast(105%); }
  60% { filter: brightness(99%) contrast(98%); }
  80% { filter: brightness(95%) contrast(105%); }
}

.main-background {
  animation: flickerAnimation 8s infinite;
  display: flex;
  padding-top: 70px; /* Add padding to the top equal to the height of the title bar */
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
}

.notification-text {
  display: inline; /* Ensure inline display */
  white-space: nowrap; /* Prevent line breaks within the text */
}

.wallet-address {
  /* Add styles similar to your other text elements */
  font-size: 0.77em; /* Adjust as needed */
  color: #FEFF05; /* Cyberpunk Yellow */
  /* Add any other styles to match the page's theme */
}

.coins-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Keep coins centered */
  gap: 6px; /* Adjust based on your layout */
  flex-basis: 20%; /* Adjust if necessary but might not be needed */
  max-width: 75%; 
  padding: 5px; /* Add some padding around the coins */
  border-radius: 10px; /* Optional: adds rounded corners */
  background-color: rgba(211, 211, 211, 0.45); 
}

.coin-image-container {
  width: 92px; /* Diameter of the circle */
  height: 92px; /* Diameter of the circle */
  border-radius: 50%; /* Makes it a circle */
  overflow: hidden; /* Hides the overflow to maintain the circle shape */
  display: flex;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.coin-image {
  width: 100%; /* Fill the container */
  height: 100%;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the container */
  image-rendering: pixelated; /* Creates a pixelated effect */
  opacity: 0.82;
  filter: brightness(97%) contrast(115%);
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for glow and opacity */
}

.coin-image:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6); /* White glow */
  opacity: 0.99; /* Increase opacity on hover for emphasis */
  filter: brightness(105%) contrast(145%);
}


.coin {
  margin: 6px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 6px; /* Optional: for some space inside the container */
}

.coin:hover {
  margin: 6px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent grey */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 6px; /* Optional: for some space inside the container */
}


.coin-name {
  width: 92px; /* Match the width of the image */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  opacity: 0.9;
}

.coin-name:hover {
  width: 92px; /* Match the width of the image */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  opacity: 0.97;
}

.coin-value {
  font-size: x-small;
  opacity: 0.9;
}

.coin-value:hover {
  font-size: x-small;
  opacity: 0.97;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.robot-gif {
  position: absolute;
  bottom: 85%; /* Place the bottom of the robot at the top of the watermark */
  width: 60px; /* Adjust size as needed */
  height: auto;
}

.watermark {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 2%; /* Distance from the bottom */
  right: 1%; /* Distance from the right */
  width: 160px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  filter: brightness(98%) contrast(120%);
  opacity: 0.87; /* Adjust opacity as needed */
  display: flex; /* Use flexbox to center child elements */
  justify-content: center; /* Center horizontally */
  align-items: end; /* Align at the bottom */
}

.watermark:hover {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 2%; /* Distance from the bottom */
  right: 1%; /* Distance from the right */
  width: 240px; /* Adjust the width as needed */
  filter: brightness(100%) contrast(140%);
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  opacity: 0.94; /* Adjust opacity as needed */
  transition: 0.5s ease-in-out;
}

.watermark2 {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 1%; /* Distance from the bottom */
  left: 0%; /* Distance from the left, changed from right to left */
  width: 160px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  filter: brightness(98%) contrast(120%);
  opacity: 0.87; /* Adjust opacity as needed */
  display: flex; /* Use flexbox to center child elements */
  justify-content: center; /* Center horizontally */
  align-items: end; /* Align at the bottom */
}

.watermark2:hover {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 1%; /* Distance from the bottom */
  left: 0%; /* Distance from the left, changed from right to left */
  width: 240px; /* Adjust the width as needed */
  filter: brightness(100%) contrast(140%);
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  opacity: 0.94; /* Adjust opacity as needed */
  transition: 0.5s ease-in-out;
}

.ape-gif {
  position: absolute;
  bottom: 89%; /* Place the bottom of the robot at the top of the watermark */
  width: 65px; /* Adjust size as needed */
  height: auto;
}

.vertical-button {
  @apply flex flex-col justify-center items-center;
  font-weight: bold;
  writing-mode: horizontal-tb;
  text-orientation: upright;
  position: fixed; /* Fixed position to place them on the sides */
  z-index: 10; /* Ensure they're above other elements */
}

.button-make {
  @apply vertical-button;
  left: 5%; /* Adjust as necessary for spacing from the left edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.button-take {
  @apply vertical-button;
  right: 5%; /* Adjust as necessary for spacing from the right edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.sort-dropdown {
  background-color: transparent;
  color: #FEFF05; /* Yellow text */
  border: 2px solid #FEFF05; /* Yellow border */
  padding: 8px;
  cursor: pointer;
}

.sort-dropdown:hover {
  background-color: #FEFF05; /* Yellow background */
  color: black; /* Black text */
}

.sort-dropdown option {
  background-color: #000000; /* Cyberpunk Black for options */
  color: #FEFF05; /* Cyberpunk Yellow text for options */
  font-family: 'Orbitron'; /* Match the font with the rest of the site */
}

.coins-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure the section is centered */
  width: 100%;
}

.selector-container {
  margin-bottom: 10px; /* Space between the selector and the coins */
  margin-left: 15%;
  align-self: flex-start; /* Align the dropdown selector */
  width: 20%; 
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 10px; /* Rounded corners for the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}
.selector-container:hover {
  background-color: rgba(0, 0, 0, 0.75); /* Darker semi-transparent grey on hover */
}

.custom-react-select-container:hover .custom-react-select__control {
  background-color: #FEFF05; /* Yellow background on hover */
  color: #000000; /* Black text on hover */
}

.custom-react-select-container:hover .custom-react-select__single-value {
  color: #000000; /* Ensure text color changes to black on hover */
}

.grave-button {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow */
  border: 2px solid #FEFF05;
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  cursor: pointer;
  text-align: center;
  display: inline-block; /* or 'block' if you prefer */
}

.grave-button:hover {
  background-color: #FEFF05;
  color: #000000;
  border-color: transparent;
}

.graveyard-button-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Adjust the space above the button */
  bottom: 2%; /* Distance from the bottom */
  width: 20%;
}