@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.button-connect-wallet {
  width: 8em;
  padding: 0.1em 0.4em;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow text */
  border: 2px solid #FEFF05; /* Cyberpunk Yellow border */
  font-weight: bold;
  font-size: 0.7em;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s, opacity 0.3s;
}

.button-connect-wallet:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background */
  color: #000000; /* Make text color match the background color for 'transparent' effect */
  border-color: transparent; /* Optional: make border transparent on hover */
  opacity: 0.95;
}

.vertical-button {
  width: 2em;
  padding: 0.1em 0.4em;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow text */
  border: 2px solid #FEFF05; /* Cyberpunk Yellow border */
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s, opacity 0.3s;
}

.vertical-button:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background */
  color: #000000; /* Make text color match the background color for 'transparent' effect */
  border-color: transparent; /* Optional: make border transparent on hover */
  opacity: 0.95;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000; /* Cyberpunk Black */
  color: #FEFF05; /* Cyberpunk Yellow */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ufo {
  position: absolute;
  /* Adjust size as needed */
}

.ufo1 {
  animation: ufo1Animation 5s linear infinite;
  width: 7em; /* Adjust size as needed */
}

@keyframes ufo1Animation {
  0% { right: 0%; }
  100% { right: 200%; }
}

.ufo2 {
  position: absolute;
  width: 80px; /* Adjust size as needed */
  top: 10px; /* Start just off the top of the screen */
  left: -100px; /* Start off-screen to the left */
  opacity: 0; /* Initially hidden */
  animation: none; /* No animation initially */
}

@keyframes ufo2Animation {
  0%, 100% { left: -100px; opacity: 0; }
  25%, 75% { left: 120px; opacity: 1; } /* Adjust as needed */
}

@keyframes bombAnimation {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.bomb {
  position: absolute;
  animation: bombAnimation 1.7s linear;
  width: 28px; /* Adjust size as needed */
  opacity: 0.8;
}

.neon-title-main {
  padding-top: 0.2em;
  font-size: 2em; /* Adjust the size as needed */
  text-align: center; /* Center align the title */
  margin: 0 auto; /* Center the title block if needed */
  display: block;
  opacity: 0.96;
}
.neon-title-main:hover {
  font-size: 2.01em; /* Adjust the size as needed */
  text-align: center; /* Center align the title */
  margin: 0 auto; /* Center the title block if needed */
  display: block;
  opacity: 0.98;
  filter: brightness(130%) contrast(130%);
}

/* Neon glow effect for the title */
.neon-title {
  text-shadow:
    0 0 1px rgba(254, 255, 5, 0.7), /* Slightly transparent */
    0 0 2px rgba(254, 255, 5, 0.5),
    0 0 4px rgba(254, 255, 5, 0.4);
}

.neon-value {
  color: #e9f1ff;
  opacity: 0.9;
  text-shadow:
    0 0 1px rgba(233,241,255, 0.7), /* Slightly transparent */
    0 0 2px rgba(233,241,255, 0.5),
    0 0 4px rgba(233,241,255, 0.4);
}


/* Neon glow effect for the button */
.neon-button, .vertical-button {
  box-shadow:
    0 0 1px rgba(254, 255, 5, 0.7),
    0 0 2px rgba(254, 255, 5, 0.5),
    0 0 4px rgba(254, 255, 5, 0.4);
}

.neon-button:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background */
  color: #000000; /* Make text color match the background color for 'transparent' effect */
  border-color: transparent; /* Optional: make border transparent on hover */
  opacity: 0.95;
}

.title-button-container {
  position: fixed; /* Fixed position at the top */
  top: 0; /* Align to the top of the screen */
  left: 0; /* Align to the left of the screen */
  width: 100%; /* Stretch across the full width */

  z-index: 1000; /* Ensure it's above other elements */
  display: flex;
  justify-content: space-between; /* Keep existing alignment */
  align-items: center;
  padding: 1em; /* Add some padding */
}

.invisible-spacer {
  visibility: hidden;
}

.invisible-button-spacer {
  width: same-as-button; /* Replace with the width of your button */
  height: same-as-button; /* Replace with the height of your button */
  visibility: hidden; /* Make the spacer invisible */
}

@keyframes flickerAnimation {
  0%, 100% { filter: brightness(97%) contrast(103%); }
  20% { filter: brightness(99%) contrast(98%); }
  40% { filter: brightness(95%) contrast(105%); }
  60% { filter: brightness(99%) contrast(98%); }
  80% { filter: brightness(95%) contrast(105%); }
}

.main-background {
  animation: flickerAnimation 8s infinite;
  display: flex;
  padding-top: 5em; /* Add padding to the top equal to the height of the title bar */
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
}

.notification-text {
  display: inline; /* Ensure inline display */
  white-space: nowrap; /* Prevent line breaks within the text */
}

.wallet-address {
  /* Add styles similar to your other text elements */
  font-size: 0.77em; /* Adjust as needed */
  color: #FEFF05; /* Cyberpunk Yellow */
  /* Add any other styles to match the page's theme */
}

.coins-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Keep coins centered */
  gap: 0.1em; /* Adjust based on your layout */
  flex-basis: 15%; /* Adjust if necessary but might not be needed */
  max-width: 80%; 
  position: relative;
  padding: 0.2em; /* Add some padding around the coins */
  border-radius: 8px; /* Optional: adds rounded corners */
  background-color: rgba(211, 211, 211, 0.45);
}

.coin-image-container {
  width: 5.8em; /* Diameter of the circle */
  height: 5.8em; /* Diameter of the circle */
  border-radius: 50%; /* Makes it a circle */
  overflow: hidden; /* Hides the overflow to maintain the circle shape */
  display: flex;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.coin-image {
  width: 100%; /* Fill the container */
  height: 100%;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the container */
  image-rendering: pixelated; /* Creates a pixelated effect */
  opacity: 0.82;
  filter: brightness(97%) contrast(115%);
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for glow and opacity */
}

.coin-image:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6); /* White glow */
  opacity: 0.99; /* Increase opacity on hover for emphasis */
  filter: brightness(105%) contrast(145%);
}

.gif-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the coin image */
}

.coin {
  width: 6em;
  height: 9em;
  display: flex;
  flex-direction: column;
  margin: 0.1em;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 0.1em; /* Optional: for some space inside the container */
}

.coin:hover {
  width: 6em;
  height: 9em;
  margin: 0.1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent grey */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 0.2em; /* Optional: for some space inside the container */
}


.coin-name {
  width: 6em; /* Match the width of the image */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  opacity: 0.9;
}

.coin-name:hover {
  width: 6em; /* Match the width of the image */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  opacity: 0.97;
}

.coin-value {
  font-size: 0.8em;
  opacity: 0.9;
}

.coin-value:hover {
  font-size: 0.8em;
  opacity: 0.97;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.robot-gif {
  position: absolute;
  bottom: 85%; /* Place the bottom of the robot at the top of the watermark */
  width: 4em; /* Adjust size as needed */
  height: auto;
}

.watermark {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 1%; /* Distance from the bottom */
  right: 1%; /* Distance from the right */
  width: 160px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  filter: brightness(98%) contrast(120%);
  opacity: 0.87; /* Adjust opacity as needed */
  display: flex; /* Use flexbox to center child elements */
  justify-content: center; /* Center horizontally */
  align-items: end; /* Align at the bottom */
}

.watermark:hover {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0%; /* Distance from the bottom */
  right: 1%; /* Distance from the right */
  width: 240px; /* Adjust the width as needed */
  filter: brightness(100%) contrast(140%);
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  opacity: 0.94; /* Adjust opacity as needed */
  transition: 0.5s ease-in-out;
}

.watermark2 {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0%; /* Distance from the bottom */
  left: 0%; /* Distance from the left, changed from right to left */
  width: 160px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  filter: brightness(98%) contrast(120%);
  opacity: 0.87; /* Adjust opacity as needed */
  display: middle; /* Use flexbox to center child elements */
  justify-content: right; /* Center horizontally */
  align-items: right; /* Align at the bottom */
}

.watermark2:hover {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0%; /* Distance from the bottom */
  left: 0%; /* Distance from the left, changed from right to left */
  width: 240px; /* Adjust the width as needed */
  filter: brightness(100%) contrast(140%);
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  opacity: 0.94; /* Adjust opacity as needed */
  transition: 0.5s ease-in-out;
}

.ape-gif {
  position: absolute;
  bottom: 90%; /* Place the bottom of the robot at the top of the watermark */
  left: 28%;
  width: 4.5em; /* Adjust size as needed */
  height: auto;
}

.vertical-button {
  @apply flex flex-col justify-center items-center;
  font-weight: bold;
  writing-mode: horizontal-tb;
  text-orientation: upright;
  position: fixed; /* Fixed position to place them on the sides */
  z-index: 10; /* Ensure they're above other elements */
}

.button-make {
  @apply vertical-button;
  left: 0.5em; /* Adjust as necessary for spacing from the left edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.button-take {
  @apply vertical-button;
  right: 0.5em; /* Adjust as necessary for spacing from the right edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.sort-dropdown {
  background-color: transparent;
  color: #FEFF05; /* Yellow text */
  border: 2px solid #FEFF05; /* Yellow border */
  padding: 8px;
  cursor: pointer;
}

.sort-dropdown:hover {
  background-color: #FEFF05; /* Yellow background */
  color: black; /* Black text */
}

.sort-dropdown option {
  background-color: #000000; /* Cyberpunk Black for options */
  color: #FEFF05; /* Cyberpunk Yellow text for options */
  font-family: 'Orbitron'; /* Match the font with the rest of the site */
}

.coins-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure the section is centered */
  width: 100%;
  padding-bottom: 7em;
}

.selector-container {
  margin-bottom: 0.5em; /* Space between the selector and the coins */
  margin-left: 10%;
  align-self: flex-start; /* Align the dropdown selector */
  width: 15%; 
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 10px; /* Rounded corners for the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  z-index: 1000;
}
.selector-container:hover {
  background-color: rgba(0, 0, 0, 0.75); /* Darker semi-transparent grey on hover */
}

.custom-react-select-container:hover .custom-react-select__control {
  background-color: #FEFF05; /* Yellow background on hover */
  color: #000000; /* Black text on hover */
}

.custom-react-select-container:hover .custom-react-select__single-value {
  color: #000000; /* Ensure text color changes to black on hover */
}

.grave-button {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow */
  border: 2px solid #FEFF05;
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  cursor: pointer;
  text-align: center;
  display: inline-block; /* or 'block' if you prefer */
}

.grave-button:hover {
  background-color: #FEFF05;
  color: #000000;
  border-color: transparent;
}

.graveyard-button-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Adjust the space above the button */
  bottom: 2%; /* Distance from the bottom */
  width: 35%;
}

.graveyard-coin-image {
  filter: grayscale(50%) brightness(75%);
  transition: filter 0.3s ease;
}

.graveyard-coin-image:hover {
  filter: grayscale(25%) brightness(90%);
}

.grave-value {
  font-size: 0.6em;
  color: #ffa4a8;
  opacity: 0.9;
  text-shadow:
    0 0 1px rgba(255,164,168, 0.7), /* Slightly transparent */
    0 0 2px rgba(255,164,168, 0.5),
    0 0 4px rgba(255,164,168, 0.4);
}


:root {
  --scale-factor: 1; /* Default scale factor */
  --spotlight-size-base: 100px; /* Base size of the spotlight */

}

@media (max-width: 768px) {
  .spotlight, .dogedance .spotlight {
    width: calc(var(--spotlight-size-base) * 0.75); /* Scale down the size for medium screens */
    height: calc(var(--spotlight-size-base) * 0.75); /* Scale down the size for medium screens */
  }
  :root {
    --scale-factor: 0.75; /* Scale down to 75% on medium screens */
  }
}

@media (max-width: 480px) {
  .spotlight, .dogedance .spotlight {
    width: calc(var(--spotlight-size-base) * 0.5); /* Scale down the size for small screens */
    height: calc(var(--spotlight-size-base) * 0.5); /* Scale down the size for small screens */
  }
  :root {
    --scale-factor: 0.5; /* Scale down to 50% on small screens */
  }
}

.dancehall {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.dancehall-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gifs-container {
  position: absolute;
  left: 25%; /* Start of the dance floor */
  right: 25%; /* End of the dance floor */
  bottom: 10%; /* Bottom of the dance floor */
  top: 70%; /* Top of the dance floor */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
}

.gif {
  position: absolute;
  transition: transform 0.3s ease, filter 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif:hover {
  transform: scale(1.15); /* Increase size */
  filter: brightness(1.25) contrast(1.2); /* Make it brighter */
}

.spotlight {
  position: absolute;
  bottom: 0; /* Start below the GIF */
  left: 50%;
  transform: translateX(-50%) translateY(40%);
  width: var(--spotlight-size-base);
  height: var(--spotlight-size-base);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25); /* Semi-transparent white for the spotlight effect */
  z-index: -1; /* Ensure it's under the GIF */
  transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for resizing */
}

.special-spotlight {
  bottom: -20%; /* Adjust for dogedance.gif to move the spotlight lower */
}

.dogedance .spotlight {
  bottom: -30%; /* Lower the spotlight for the dogedance.gif */
  transform: translateX(-50%) translateY(50%); /* Adjust specifically for dogedance.gif */
}

.home-button-container {
  position: fixed;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  z-index: 100; /* Adjust as needed to ensure it's above other elements */
}

.home-button {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow text */
  border: 2px solid #FEFF05; /* Cyberpunk Yellow border */
  font-weight: bold;
  opacity: 0.95;
  left: 0;
  right: 0;
  bottom: 0%; /* Adjust this value as needed to move the button lower */ 
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  text-align: center;
  display: inline-block; /* Ensures the link behaves like a button */
}

.home-button:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background on hover */
  color: #000000; /* Text color on hover */
  border-color: transparent; /* Border color on hover */
}

.song-selector-container {
  position: fixed;
  left: 10%;
  top: 40%;
  width: 20%;
  transform: translateY(-50%);
  z-index: 100;
  align-self: flex-start; /* Align the dropdown selector */
  width: 20%; 
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 10px; /* Rounded corners for the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.song-selector {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FEFF05; /* Cyberpunk Yellow */
  border: 1px solid #FEFF05; /* Cyberpunk Yellow border */
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.95;
}

.song-selector:hover {
  filter: brightness(1.2);
}
/* globals.css */
.elonGif {
  position: fixed;
  bottom: 0;
  width: 15%; /* Adjust based on your preference */
  height: 10%; /* Example height */
  z-index: 1; /* Adjust based on layering needs */
}
.filledZoomGif {
  position: fixed;
  bottom: 0;
  width: 12%; /* Adjust based on your preference */
  height: 12%; /* Example height */
  z-index: 1; /* Adjust based on layering needs */
}
.pepeImage {
  position: fixed;
  bottom: 0;
  width: 11%; /* Adjust based on your preference */
  height: 11%; /* Example height */
  z-index: 1; /* Adjust based on layering needs */
}
.eggdogImage {
  position: fixed;
  bottom: 0;
  width: 11%; /* Adjust based on your preference */
  height: 11%; /* Example height */
  z-index: 1; /* Adjust based on layering needs */
}

.leftImage {
  position: fixed;
  bottom: 0;
  width: 28%; /* Adjust based on your preference */
  height: 12%; /* Example height */
  z-index: 1; /* Adjust based on layering needs */
}

.rightImage {
  position: fixed;
  bottom: 0;
  width: 20%; /* Adjust based on your preference */
  height: 13%; /* Example height */
  z-index: 23; /* Adjust based on layering needs */
}

.leftImage {
  left: 10%;
}

.rightImage {
  right: 10%;
  z-index: 3;
}

.elonGif {
  right: 20%; /* Position to the left of right.png */
  z-index: 2;
}

.filledZoomGif {
  left: 29%; /* Position to the right of left.png */
  z-index: 2;
}

.pepeImage {
  right: 15%;
  top: 70%;
  z-index: 2;
}

.eggdogImage {
  left: 15%;
  top: 70%;
  z-index: 2;
}


.leftImage:hover, .rightImage:hover, .elonGif:hover, .filledZoomGif:hover, .pepeImage:hover, .eggdogImage:hover {
  /* Increase size */
  transform: scale(1.1);
  transition: transform 0.3s ease, filter 0.3s ease;

  /* Glow effect */
  filter: drop-shadow(0 0 8px #FEFF05) drop-shadow(0 0 12px #FEFF05);
  z-index: 10; /* Ensure the hovered element is above others */
}

/* Ensure the transform origin is the bottom center for a natural growth effect */
.leftImage, .rightImage, .elonGif, .filledZoomGif, .pepeImage, .eggdogImage {
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for transform and filter */
  transform-origin: bottom center; /* Grow from the bottom */
}

.ape-gif:hover {
  filter: brightness(1.2) drop-shadow(0 0 10px #FEFF05); /* Glow effect */
  transition: filter 0.3s ease;
}

.ape-container:hover {
  cursor: url('/special-cursor.png'), auto;
}

.ape-container:hover .ape-gif {
  filter: brightness(1.2) drop-shadow(0 0 10px #FEFF05); /* Glow effect */
  transform: scale(1.1); /* Slight increase in size */
  transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.title-background {
  display: inline-block; /* or 'block' depending on your layout */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  border-radius: 8px; /* Adjust as needed for rounded corners */
  padding: 5px; /* Adjust padding to control the space around the text */
  color: #FEFF05; /* Example text color, adjust as needed */
  margin: 0 auto; /* Center the title if needed */
  text-align: center; /* Center text within the background */
}