@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variable definitions for easy theme management */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --scale-factor: 1; /* Default scale factor */
  --spotlight-size-base: 100px; /* Base size of the spotlight */
  --title-size-base: 2em; 
  --cyberpunk-yellow: #FEFF05;
  --neon-glow: 0 0 1px rgba(254, 255, 5, 0.7),
               0 0 2px rgba(254, 255, 5, 0.5),
               0 0 4px rgba(254, 255, 5, 0.4);
  --neon-value-glow: 0 0 1px rgba(233, 241, 255, 0.7),
                    0 0 2px rgba(233, 241, 255, 0.5),
                    0 0 4px rgba(233, 241, 255, 0.4);
  --button-font-size: 1rem;
  --watermark-width: 7rem; /* Initial width for watermarks */
  --title-background-size: 16rem; /* Adjusted for correction */
  --wallet-button-width: 9rem;
  --wallet-font-size: 0.85rem;
  --grave-button-width: 10rem;
  --coin-container-height: 30rem;
}

/* Responsive design adjustments for medium screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  :root {
    --scale-factor: 0.75;
    --title-size-base: 1.5em;
    --button-font-size: 0.75rem; /* Adjusted for consistency */
    --watermark-width: 6rem; /* Adjusted size for medium screens */
    --title-background-size: 10rem; /* Adjusted for medium screens */
    --wallet-button-width: 7.5rem;
    --wallet-button-height: 2.3rem;
    --wallet-font-size: 0.55rem;
    --grave-button-width: 7rem;
    --grave-button-font-size: 0.75rem;
    --coin-container-height: 24rem;
  }
}

/* Responsive design adjustments for small screens (max-width: 480px) */
@media screen and (max-width: 480px) {
  :root {
    --scale-factor: 0.5;
    --title-size-base: 1.2em;
    --button-font-size: 0.6rem; /* Adjusted for consistency */
    --watermark-width: 5rem; /* Adjusted size for small screens */
    --title-background-size: 8rem; /* Adjusted for small screens */
    --wallet-button-width: 5.5rem;
    --wallet-button-height: 2.8rem;
    --wallet-font-size: 0.55rem;
    --grave-button-width: 5.5rem;
    --grave-button-font-size: 0.5rem;
    --coin-container-height: 20rem;
  }
}

/* Dark mode preference */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Body styling with Orbitron font */
body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000000; /* Cyberpunk Black */
  color: var(--cyberpunk-yellow); /* Cyberpunk Yellow */
}

/* Tailwind utility class for balanced text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* UFO, bomb, and other animated elements */
.ufo1, .ufo2, .bomb {
  position: absolute;
}

.ufo1 {
  animation: ufo1Animation 5s linear infinite;
  width: 7rem;
}

@keyframes ufo1Animation {
  0% { right: 0; }
  100% { right: 200%; }
}

.ufo2 {
  width: 5rem;
  top: 1rem;
  left: -10rem;
  opacity: 0;
  animation: none;
}

@keyframes ufo2Animation {
  0%, 100% { left: -10rem; opacity: 0; }
  25%, 75% { left: 12rem; opacity: 1; }
}

.bomb {
  animation: bombAnimation 1.7s linear;
  width: 2.8rem;
  opacity: 0.8;
}

@keyframes bombAnimation {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

/* Button styles */
.button-connect-wallet {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--cyberpunk-yellow);
  border: 2px solid var(--cyberpunk-yellow);
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s, opacity 0.3s;
  box-shadow: var(--neon-glow);
  width: var(--wallet-button-width);
  height: var(--wallet-button-height);
  font-size: var(--wallet-font-size);
}

.vertical-button, .neon-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--cyberpunk-yellow);
  border: 2px solid var(--cyberpunk-yellow);
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s, opacity 0.3s;
  box-shadow: var(--neon-glow);
}

.button-connect-wallet:hover, .vertical-button:hover, .neon-button:hover {
  background-color: var(--cyberpunk-yellow);
  color: #000000;
  border-color: transparent;
}

.vertical-button {
  width: 2rem;
  padding: 0.1rem 0.4rem;
  font-size: var(--button-font-size);
}

.neon-title-main {
  padding-top: 0.2rem;
  font-size: var(--title-size-base);
  text-align: center;
  margin: 0 auto;
  display: block;
  opacity: 0.96;
}

.neon-title-main:hover {
  filter: brightness(150%) contrast(150%);
}

.neon-title, .neon-value {
  text-shadow: var(--neon-glow);
}

.neon-value {
  color: #e9f1ff;
  text-shadow: var(--neon-value-glow);
}

.title-button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.invisible-spacer {
  visibility: hidden;
}

.main-background {
  animation: flickerAnimation 8s infinite;
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes flickerAnimation {
  0%, 100% { filter: brightness(97%) contrast(103%); }
  20% { filter: brightness(99%) contrast(98%); }
  40% { filter: brightness(95%) contrast(105%); }
  60% { filter: brightness(99%) contrast(98%); }
  80% { filter: brightness(95%) contrast(105%); }
}

.wallet-address {
  font-size: 0.77rem;
  color: var(--cyberpunk-yellow);
}

.coins-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1rem;
  max-width: 80%;
  max-height: var(--coin-container-height);
  position: relative;
  padding: 0.2rem;
  margin-top: 1%;
  border-radius: 8px;
  background-color: rgba(211, 211, 211, 0.45);
  overflow-y: scroll; /* Enables vertical scrolling if content overflows */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--cyberpunk-yellow) rgba(0, 0, 0, 0.5);
}

/* For Webkit Browsers like Chrome and Safari */
.coins-container::-webkit-scrollbar {
  width: 8px;
}

.coins-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

.coins-container::-webkit-scrollbar-thumb {
  background-color: var(--cyberpunk-yellow);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.coin-image-container {
  width: var(--coin-container-size);
  height: var(--coin-container-size);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  opacity: 0.82;
  filter: brightness(97%) contrast(115%);
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.coin-image:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
  opacity: 0.99;
  filter: brightness(105%) contrast(145%);
}

.coin {
  width: 6rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0.1rem;
}

.coin:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.coin-name, .coin-value {
  font-size: var(--coin-font-size);
  opacity: 0.9;
}

.coin-name:hover, .coin-value:hover {
  opacity: 0.97;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.watermark, .watermark2 {
  position: fixed;
  width: var(--watermark-width);
  height: auto;
  z-index: 1000;
  filter: brightness(98%) contrast(120%);
  opacity: 0.87;
  display: flex;
  justify-content: center;
  align-items: end;
}

.watermark:hover, .watermark2:hover {
  width: 100px;
  filter: brightness(100%) contrast(140%);
  opacity: 0.94;
  transition: 0.5s ease-in-out;
}

.watermark {
  bottom: 0%;
  right: 0%;
}

.watermark2 {
  bottom: 0;
  left: 0;
}


/* Neon glow effect for the title */
.neon-title {
  text-shadow:
    0 0 1px rgba(254, 255, 5, 0.7), /* Slightly transparent */
    0 0 2px rgba(254, 255, 5, 0.5),
    0 0 4px rgba(254, 255, 5, 0.4);
}

.neon-value {
  color: #e9f1ff;
  opacity: 0.9;
  text-shadow:
    0 0 1px rgba(233,241,255, 0.7), /* Slightly transparent */
    0 0 2px rgba(233,241,255, 0.5),
    0 0 4px rgba(233,241,255, 0.4);
}

/* Neon glow effect for buttons */
.neon-button, .vertical-button {
  box-shadow:
    0 0 1px rgba(254, 255, 5, 0.7),
    0 0 2px rgba(254, 255, 5, 0.5),
    0 0 4px rgba(254, 255, 5, 0.4);
}

.neon-button:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background */
  color: #000000; /* Make text color match the background color for 'transparent' effect */
  border-color: transparent; /* Optional: make border transparent on hover */
  opacity: 0.95;
}

/* Title and button container */
.title-button-container {
  position: fixed; /* Fixed position at the top */
  top: 0; /* Align to the top of the screen */
  left: 0; /* Align to the left of the screen */
  width: 100%; /* Stretch across the full width */

  z-index: 1000; /* Ensure it's above other elements */
  display: flex;
  justify-content: space-between; /* Keep existing alignment */
  align-items: center;
  padding: 1em; /* Add some padding */
}

.invisible-spacer {
  visibility: hidden;
}

.invisible-button-spacer {
  width: same-as-button; /* Replace with the width of your button */
  height: same-as-button; /* Replace with the height of your button */
  visibility: hidden; /* Make the spacer invisible */
}

@keyframes flickerAnimation {
  0%, 100% { filter: brightness(97%) contrast(103%); }
  20% { filter: brightness(99%) contrast(98%); }
  40% { filter: brightness(95%) contrast(105%); }
  60% { filter: brightness(99%) contrast(98%); }
  80% { filter: brightness(95%) contrast(105%); }
}

.main-background {
  animation: flickerAnimation 8s infinite;
  display: flex;
  padding-top: 5em; /* Add padding to the top equal to the height of the title bar */
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
}

.notification-text {
  display: inline; /* Ensure inline display */
  white-space: nowrap; /* Prevent line breaks within the text */
}

.wallet-address {
  /* Add styles similar to your other text elements */
  font-size: 0.77em; /* Adjust as needed */
  color: #FEFF05; /* Cyberpunk Yellow */
  /* Add any other styles to match the page's theme */
}

.coins-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1rem;
  max-width: 80%;
  position: relative;
  padding: 0.2rem;
  border-radius: 8px;
  background-color: rgba(211, 211, 211, 0.45);
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--cyberpunk-yellow) rgba(0, 0, 0, 0.5);
}

.coin-image-container {
  width: 5.8em; /* Diameter of the circle */
  height: 5.8em; /* Diameter of the circle */
  border-radius: 50%; /* Makes it a circle */
  overflow: hidden; /* Hides the overflow to maintain the circle shape */
  display: flex;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.coin-image {
  width: 100%; /* Fill the container */
  height: 100%;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the container */
  image-rendering: pixelated; /* Creates a pixelated effect */
  opacity: 0.82;
  filter: brightness(97%) contrast(115%);
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for glow and opacity */
}

.coin-image:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6); /* White glow */
  opacity: 0.99; /* Increase opacity on hover for emphasis */
  filter: brightness(105%) contrast(145%);
}

.gif-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the coin image */
}

.coin {
  width: 6em;
  height: 9em;
  display: flex;
  flex-direction: column;
  margin: 0.1em;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 0.1em; /* Optional: for some space inside the container */
}

.coin:hover {
  width: 6em;
  height: 9em;
  margin: 0.1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent grey */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 0.2em; /* Optional: for some space inside the container */
}

.coin-name {
  width: 6em; /* Match the width of the image */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  opacity: 0.9;
}

.coin-name:hover {
  width: 6em; /* Match the width of the image */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  opacity: 0.97;
}

.coin-value {
  font-size: 0.8em;
  opacity: 0.9;
}

.coin-value:hover {
  font-size: 0.8em;
  opacity: 0.97;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.robot-gif {
  position: absolute;
  bottom: 85%; /* Place the bottom of the robot at the top of the watermark */
  width: 3.8em; /* Adjust size as needed */
  height: auto;
}

.watermark {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 1%; /* Distance from the bottom */
  right: 1%; /* Distance from the right */
  width: var(--watermark-width); /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  filter: brightness(100%) contrast(120%);
  opacity: 0.87; /* Adjust opacity as needed */
  display: flex; /* Use flexbox to center child elements */
  justify-content: center; /* Center horizontally */
  align-items: end; /* Align at the bottom */
}

.watermark:hover {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0%; /* Distance from the bottom */
  right: 1%; /* Distance from the right */
  width: 180px; /* Adjust the width as needed */
  filter: brightness(100%) contrast(140%);
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  opacity: 0.94; /* Adjust opacity as needed */
  transition: 0.5s ease-in-out;
}

.watermark2 {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0%; /* Distance from the bottom */
  left: 0%; /* Distance from the left, changed from right to left */
  width: var(--watermark-width); /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  filter: brightness(100%) contrast(120%);
  opacity: 0.87; /* Adjust opacity as needed */
  display: middle; /* Use flexbox to center child elements */
  justify-content: right; /* Center horizontally */
  align-items: right; /* Align at the bottom */
}

.watermark2:hover {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 0%; /* Distance from the bottom */
  left: 0%; /* Distance from the left, changed from right to left */
  width: 180px; /* Adjust the width as needed */
  filter: brightness(100%) contrast(140%);
  height: auto; /* Maintain aspect ratio */
  z-index: 1000; /* Ensure it's above other elements */
  opacity: 0.94; /* Adjust opacity as needed */
  transition: 0.5s ease-in-out;
}

.ape-gif {
  position: absolute;
  bottom: 90%; 
  left: 28%;
  width: 3.8em; /* Adjust size as needed */
  height: auto;
}

.vertical-button {
  @apply flex flex-col justify-center items-center;
  font-weight: bold;
  writing-mode: horizontal-tb;
  text-orientation: upright;
  position: fixed; /* Fixed position to place them on the sides */
  z-index: 10; /* Ensure they're above other elements */
}

.button-make {
  @apply vertical-button;
  left: 0.5em; /* Adjust as necessary for spacing from the left edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.button-take {
  @apply vertical-button;
  right: 0.5em; /* Adjust as necessary for spacing from the right edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical centering */
}

.sort-dropdown {
  background-color: transparent;
  color: #FEFF05; /* Yellow text */
  border: 2px solid #FEFF05; /* Yellow border */
  padding: 8px;
  cursor: pointer;
}

.sort-dropdown:hover {
  background-color: #FEFF05; /* Yellow background */
  color: black; /* Black text */
}

.sort-dropdown option {
  background-color: #000000; /* Cyberpunk Black for options */
  color: #FEFF05; /* Cyberpunk Yellow text for options */
  font-family: 'Orbitron'; /* Match the font with the rest of the site */
}

.coins-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure the section is centered */
  width: 100%;
  padding-bottom: 7em;
}

.selector-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px; /* Adjust as needed */
}


.custom-react-select-container {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 10px;
  width: 180px;

}

.custom-react-select-container:hover .custom-react-select__control {
  background-color: #FEFF05; /* Yellow background on hover */
  color: #000000; /* Black text on hover */
}

.custom-react-select-container:hover .custom-react-select__single-value {
  color: #000000; /* Ensure text color changes to black on hover */
}

.grave-button {
  padding: 4px 0px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow */
  border: 2px solid #FEFF05;
  font-weight: bold;
  opacity: 0.95;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  cursor: pointer;
  text-align: center;
  display: inline-block; /* or 'block' if you prefer */
  width: var(--grave-button-width);
  font-size: var(--grave-button-font-size);
}

.grave-button:hover {
  background-color: #FEFF05;
  color: #000000;
  border-color: transparent;
}

.graveyard-button-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px; /* Adjust the space above the button */
  bottom: 1%; /* Distance from the bottom */
  width: 120px;
}

.graveyard-coin-image {
  filter: grayscale(50%) brightness(75%);
  transition: filter 0.3s ease;
}

.graveyard-coin-image:hover {
  filter: grayscale(25%) brightness(90%);
}

.grave-value {
  font-size: 0.6em;
  color: #ffa4a8;
  opacity: 0.9;
  text-shadow:
    0 0 1px rgba(255,164,168, 0.7), /* Slightly transparent */
    0 0 2px rgba(255,164,168, 0.5),
    0 0 4px rgba(255,164,168, 0.4);
}

/* Additional responsive design adjustments */
@media (max-width: 768px) {
  .spotlight, .dogedance .spotlight {
    width: calc(var(--spotlight-size-base) * 0.75); /* Scale down the size for medium screens */
    height: calc(var(--spotlight-size-base) * 0.75); /* Scale down the size for medium screens */
  }

  :root {
    --scale-factor: 0.75; /* Scale down to 75% on medium screens */
  }
}

@media (max-width: 480px) {
  .spotlight, .dogedance .spotlight {
    width: calc(var(--spotlight-size-base) * 0.5); /* Scale down the size for small screens */
    height: calc(var(--spotlight-size-base) * 0.5); /* Scale down the size for small screens */
  }
  :root {
    --scale-factor: 0.5; /* Scale down to 50% on small screens */
  }
}

/* Styles for dancehall page */
.dancehall {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.dancehall-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gifs-container {
  position: absolute;
  left: 25%; /* Start of the dance floor */
  right: 25%; /* End of the dance floor */
  bottom: 10%; /* Bottom of the dance floor */
  top: 70%; /* Top of the dance floor */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
}

.gif {
  position: absolute;
  transition: transform 0.3s ease, filter 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif:hover {
  transform: scale(1.15); /* Increase size */
  filter: brightness(1.25) contrast(1.2); /* Make it brighter */
}

.spotlight {
  position: absolute;
  bottom: 0; /* Start below the GIF */
  left: 50%;
  transform: translateX(-50%) translateY(40%);
  width: var(--spotlight-size-base);
  height: var(--spotlight-size-base);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25); /* Semi-transparent white for the spotlight effect */
  z-index: -1; /* Ensure it's under the GIF */
  transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for resizing */
}

.special-spotlight {
  bottom: -20%; /* Adjust for dogedance.gif to move the spotlight lower */
}

.dogedance .spotlight {
  bottom: -30%; /* Lower the spotlight for the dogedance.gif */
  transform: translateX(-50%) translateY(50%); /* Adjust specifically for dogedance.gif */
}

.home-button-container {
  position: fixed;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  z-index: 100; /* Adjust as needed to ensure it's above other elements */
}

.home-button {
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #FEFF05; /* Cyberpunk Yellow text */
  border: 2px solid #FEFF05; /* Cyberpunk Yellow border */
  font-weight: bold;
  opacity: 0.95;
  left: 0;
  right: 0;
  bottom: 0%; /* Adjust this value as needed to move the button lower */ 
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  text-align: center;
  display: inline-block; /* Ensures the link behaves like a button */
}

.home-button:hover {
  background-color: #FEFF05; /* Cyberpunk Yellow background on hover */
  color: #000000; /* Text color on hover */
  border-color: transparent; /* Border color on hover */
}

.song-selector-container {
  position: fixed;
  left: 10%;
  top: 40%;
  width: 20%;
  transform: translateY(-50%);
  z-index: 100;
  align-self: flex-start; /* Align the dropdown selector */
  width: 20%; 
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  border-radius: 10px; /* Rounded corners for the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

.song-selector {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FEFF05; /* Cyberpunk Yellow */
  border: 1px solid #FEFF05; /* Cyberpunk Yellow border */
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.95;
}

.song-selector:hover {
  filter: brightness(1.2);
}

/* Styles for specific animated GIFs and images */
.elonGif, .filledZoomGif, .pepeImage, .eggdogImage, .leftImage, .rightImage {
  position: fixed;
  bottom: 0;
  z-index: 1; /* Adjust based on layering needs */
}

/* Adjustments for left and right images */
.leftImage {
  width: 28%;
  height: 12%;
  left: 10%;
}

.rightImage {
  width: 20%;
  height: 13%;
  right: 10%;
  z-index: 3;
}

/* Adjustments for specific GIFs and images */
.elonGif {
  width: 15%;
  height: 10%;
  right: 20%; /* Position to the left of right.png */
}

.filledZoomGif {
  width: 12%;
  height: 12%;
  left: 29%; /* Position to the right of left.png */
}

.pepeImage {
  width: 11%;
  height: 11%;
  right: 15%;
  top: 70%;
}

.eggdogImage {
  width: 11%;
  height: 11%;
  left: 15%;
  top: 70%;
}

/* Hover effects for animated elements */
.leftImage:hover, .rightImage:hover, .elonGif:hover, .filledZoomGif:hover, .pepeImage:hover, .eggdogImage:hover {
  transform: scale(1.1); /* Increase size */
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 0 8px var(--cyberpunk-yellow)) drop-shadow(0 0 12px var(--cyberpunk-yellow));
  z-index: 10; /* Ensure the hovered element is above others */
}

/* Transform origin adjustment for natural growth effect */
.leftImage, .rightImage, .elonGif, .filledZoomGif, .pepeImage, .eggdogImage {
  transition: transform 0.3s ease, filter 0.3s ease;
  transform-origin: bottom center;
}

.ape-gif:hover {
  filter: brightness(1.2) drop-shadow(0 0 10px var(--cyberpunk-yellow));
  transition: filter 0.3s ease;
}

.ape-container:hover {
  cursor: url('/special-cursor.png'), auto;
}

.ape-container:hover .ape-gif {
  filter: brightness(1.2) drop-shadow(0 0 10px var(--cyberpunk-yellow));
  transform: scale(1.1);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.title-background {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 5px;
  color: var(--cyberpunk-yellow);
  margin: 0 auto;
  text-align: center;
  width: var(--title-background-size);
}

.gif-hover-glow:hover {
  filter: brightness(1.2) contrast(1.2) drop-shadow(0 0 4px white) drop-shadow(0 0 8px white);
  transform: scale(1.05);
  transition: filter 0.3s ease;
}

.gifButton {
  width: 50px;
  height: 50px;
  /* other styles */
}

@media (max-width: 768px) {
  .gifButton {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 480px) {
  .gifButton {
    width: 40px;
    height: 40px;
  }
}